
.ipx_safearea {
	padding-right:  env(safe-area-inset-right);
	padding-left:  env(safe-area-inset-left);
}

@include breakpoint(medium only) {

	.header__mobilenavbtn span,
		.header__mobilenavbtn span::before,
		.header__mobilenavbtn span::after {
			background: #333;
		}

	.header.header--home {

		.header__mobilenavbtn span,
		.header__mobilenavbtn span::before,
		.header__mobilenavbtn span::after {
			background: #fff;
		}
	}
	
	.header.dark {

		.header__mobilenavbtn span,
		.header__mobilenavbtn span::before,
		.header__mobilenavbtn span::after {
			background: #333;
		}

	}

	.landing__tag {
		width: 100%;
		font-size: 42px;
		line-height: 46px;
		transform: translateY(0%);
		margin-top: 20px;
		top: 50%;

	}

	.heroimg {
		width: 100%;
	}

	.product-list {
		order: 2;
	}

	.landing__about__contents h4 {
		margin-bottom: 100px;
	}

	.landing__wwd__content {
		text-align: center;
	}

	.service__proservice {
		margin-top: 60px;
	}
}


@include breakpoint(small only) {
	#submission_successful {
		h1 {
			font-size: 42px;
			line-height: 48px;
		}
	}

	

	.header {
		background: rgba(255,255,255,0.5);
		padding-top: 15px;
		padding-bottom: 5px;
	}

	.header--home {
		background: none;
	}

	.header__mobilenavbtn span,
		.header__mobilenavbtn span::before,
		.header__mobilenavbtn span::after {
			background: #333;
		}

	.header.header--home {

		.header__mobilenavbtn span,
		.header__mobilenavbtn span::before,
		.header__mobilenavbtn span::after {
			background: #fff;
		}
	}
	
	.header.dark {

		.header__mobilenavbtn span,
		.header__mobilenavbtn span::before,
		.header__mobilenavbtn span::after {
			background: #333;
		}

	}
	

	#stripesBG {
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left:0;
		z-index:0;
	}

	.heroimg {
		max-width: 380px;
	}

	.landing {

		

		&__tag {
			font-size: 36px;
			line-height: 40px;
			text-align: center;
			width: 100%;
			margin-top: 50px;
			padding-left: 30px;
			padding-right: 30px;
		}

		&__hf__container {
			margin-top: 80px;
			left:50%;
			transform: translateX(-50%);
			width: 380px;
		}
 
		&__btn{
			position: relative;
			background-color: #fff;
			display: block;
			padding-bottom: 10px;
			width: 100%;
			
			&__container {
			height: auto;
			width: 100%;
			margin-bottom: 20px;
			display: inline-block;
			}
		}

		&__cards {
			background-color: $color-white;

		}

		&__about {
			padding-top: 20px;
			padding-bottom: 50px;
			
			text-align: center;

			h4.text--medium {
				font-size: 20px;
				line-height: 24px;
			}

			.hero__art__container {
				width: 100%;
				position: relative;
				height: 280px;
			}

			.hero__art {
				margin-top: 50px;
				display: inline-block;
				position: absolute;
				top: 0;
				left:50%;
				transform: scale(0.6) translateX(-50%);
				transform-origin: 0 0;
			}
		}



		&__wwd {
			padding-top: 10px;
			text-align: center;
			&__content {
				padding-top: 120px;
				padding-bottom: 120px;
				p {
					line-height: 24px;
				}
			}
		}

		&__metrics {
			h1 {
				padding-top: 20px;
			}
		}
	}

	.landing__sections--tech {
		padding-top: 50px;
		h3 {
			margin-bottom: 20px;
		}
	}


	.services__about {
		h4 {
			margin-bottom: 2rem;
		}
	}

	.services__section {
		p {
			margin-bottom: 2rem;
		}
	}

	.services__colimg {
		margin-top: 30px;
	}

	.services__section--process {
		img {
			max-width: 200px;
			text-align: center;
			display: block;
			margin: 0 auto;
		}

	}

   .innerpage__title {
   	 h1 {
   	 	font-size: 42px;
   	 	line-height: 48px;
   	 }
   }

	footer {
		.footer__list {
			padding: 50px 0 10px;
			p {
				opacity: 0.4;
			}
		}
	}

	.product-list {
		order: 2;
	}
 }