.header {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 1000;
	padding-top: 24px;
	padding-bottom: 18px;
	transition: all 0.5s 0s ease;
	background: none;
	nav {
	display: block;
	 text-align: right;
		ul{
			list-style: none;
			display: inline-block;
			margin:0;

			li {
				float: left;
				margin-left: 10px;
				margin-right: 10px;
				margin-top: 10px;
				position: relative;
				padding-bottom: 12px;
				&.cta {
					margin-top: 2px;
					a {
						color: #fff;
					}
				}
				a {
					font-weight: 500;
					color:#263043;
					&:hover {
						color: #123fae;
					}
				}
			}
		}

		li:hover,ul.header__dropmenu:hover {
			ul.header__dropmenu {
				display: block;
			}
		}

		ul.header__dropmenu {
			position: absolute;
			left: 0;
			top: 30px;
			width: 210px;
			background: #fff;
			box-shadow: 0 10px 30px rgba(0,0,0,0.5);
			border-radius: 2px;
			padding: 13px 13px 23px;
			text-align: left;
			display: none;

			li {
				padding-left: 10px;
				padding-bottom: 8px;
				a {
					font-weight: 300;
				}
				&.header__dropmenu__title {
					padding-left: 0;
					a {
					font-weight: 600;
					}
				}
			}

			li.header__dropmenu__sublist {
				padding: 0;
				margin: 0;
			}

			&__subitems {
				margin-left: 42px;
				li {
					padding: 0;
					margin: 0;

				}
				li a {
					font-size: 11px;
				}
			}

			&--services {
				@extend ul.header__dropmenu;
				width: 300px;

				li {
					padding-left: 0;
					padding-bottom: 2px;
					width: 100%;
					.service__proservice__item {
						padding: 0px;
						border: none;
						margin: 0;
						width: 100%;
						display: block;
						&:hover {
							box-shadow: none;
							color: #123fae;
						}

					}
					.service__proservice__icon {
						width: 28px;
						height: 28px;
						padding-right: 5px;
					}
					.service__proservice__label {
						width: calc(100% - 35px);
						font-weight: 300;
					}
					.service__proservice__name {
						font-weight: 500;
					}
				}
			}

			
		}
	}
	&__logo {
		top: 20px;
		transition: all 0.5s 0s ease;

	}
	&__cta {
		
		display: block;
		top:14px;
		z-index: 100;
		color: #fff;
		background: #FAAC2C;
		border-radius: 6px;
		padding: 7px 20px;
		font-weight: 600;
	}
	&.dark {
		background-color: #fff;
		padding-top: 14px;
		padding-bottom: 0;
		.header__logo {
			top:10px;
		}
		.header__cta {
			top:9px;
		}
		nav ul li a {
			color: #263043;
			&:hover {
						color: #123fae;
					}
		}

		nav ul li.cta a {
			color: #fff;
		}
	}

}

div.header {
	&__logo {
		padding-top: 8px;
		z-index: 100;
		svg {
			height: 25px;
			fill: #123fae;
		}
	}
	
}

header.dark {
	.header__logo {
		padding-top: 8px;
		z-index: 100;
		svg {
			height: 25px;
			fill: #263043;
		}
	}
	
}

header.black.dark {
	background: none;
	padding-top: 8px;

	div.header__logo svg {
		fill: #fff;
	}
}


header.black {
	background: none;
	padding-top: 8px;
	
	div.header__logo svg {
		fill: #fff;
	}
}

/* -------- Animated button ---------- */

.header__mobilenav {
  display: inline-block;
  text-align: right;
  //position: relative;
}

.header__mobilenavbtn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 6px 0 0 0;
  padding: 0;
  width: 32px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.header__mobilenavbtn:hover {
  background: none;
}

.header__mobilenavbtn:focus {
  outline: none;
}

.header__mobilenavbtn span {
  display: block;
  position: absolute;
  top: 12px;
  left: 2px;
  right: 2px;
  height: 2px;
  background-color: rgba(49, 85, 165, 1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.header__mobilenavbtn span::before,
.header__mobilenavbtn span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(49, 85, 165, 1);
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.header__mobilenavbtn span::before {
  top: -10px;
}

.header__mobilenavbtn span::after {
  bottom: -10px;
}

.header__mobilenavbtn-x span::before,
.header__mobilenavbtn-x span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0s, 0;
  transition-delay: 0s, 0;
}

.header__mobilenavbtn-x span::before {
  -webkit-transition-property: all, -webkit-transform;
  transition-property: all, transform;
}

.header__mobilenavbtn-x span::after {
  -webkit-transition-property: all, -webkit-transform;
  transition-property: all, transform;
}


.header__mobilenavbtn-x.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
}

.header__mobilenavbtn-x.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
}

.header__mobilenavbtn-x.active span::before,
.header__mobilenavbtn-x.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}

.header__mobilenavbtn-x.active span
{
  background: none;
}

.mobile__nav {
	position: fixed;
	
	left: 0;
	width: 100%;
	
	padding-top: 30px;
	z-index: 999;
	background: #fff;
	background: rgba(255,255,255,0.7);
	backdrop-filter: blur(10px) grayscale(100%);
	padding-left:13px;
	padding-right: 13px;
	max-height: 100%;
	overflow-y: scroll;
	height: 0;
	top: -50px;
	-webkit-transition-property: top, -webkit-transform;
  	transition-property: top, transform;
  	-webkit-transition-duration: 0.5s;
	  transition-duration:  0.5s;
}

.header__mobilecta {
	position: fixed;
	bottom: 0;
	height: 60px;
	text-align: center;
	background: rgba(0,0,0,0.6);
	width: 100%;
	left: 0;
	border-top: 1px solid rgba(255,255,255,0.4);
	padding: 10px 20px;
	z-index: 1001;
}

.mobile__nav.active {
	height: 100vh;
	background:rgba(0,0,0,0.8);
	color:#fff;
	top:0;
	ul li a {color: #fff;}
	.service__proservice__item {
		color: #fff;
	}
}

.mobile__nav__list {
	list-style: none;
	margin-left: 0;
	margin-top: 50px;
	padding-bottom: 70px;
	a {
		display: block;

	}
	ul {
		list-style: none;
		padding-bottom: 5px;
		margin-top: 5px;

		li {
			padding: 5px 0;
			a {
				font-weight: 400;
			}
		}
		
	}

	

	li {
			padding: 5px 0 ;
			a {
				font-weight: 600;
			}
		}

	a.header__cta {
		text-align: center;
		&:hover{
			color: #fff;
			background-color: #8a8a8a;
		}
	}

	ul.header__dropmenu--services {
		li { 
			padding: 3px 0;
			font-size: 14px;
		}
	}
		
	.service__proservice__icon {
		width: 24px;
	}
	.service__proservice__item {
		padding: 2px 0;
		&:hover {
			box-shadow: none;
		}
	}
	.header__dropmenu__sublist {
		padding-top: 0;
	}
}

