.mobile-app {
  &__section {
    padding: 120px 0;
    background: $color-darkgrey;
    color: $color-white;
    a {
      color: #ff9900;
    }
  }

  &__grid-container {
    &--first {
      padding-bottom: 60px;
    }
  }

  &__description {
    font-weight: 400;
  }
}