.about__section {
	padding: 50px 0;
}


/* Enquiry */

#general-form {
	button.submitForm {
		margin-top: 25px;
	}
	p {
		padding-top: 15px;
		line-height: 18px;
	}

	.smiley {
		font-size: 36px;
		vertical-align: middle;
	}

	[type='checkbox'] + label {
	width: 80%;
	vertical-align: top;
	line-height: 17px;
	margin-bottom: 20px;
	margin-top:4px;
	}
}