.project {
	&__block {
		padding: 28px;
		position: relative;
		display: block;
		min-height: 420px;
		box-shadow: 0 15px 20px rgba(0,0,0,0.2);
		overflow: hidden;
		margin-bottom: 40px;
		transition: all .2s 0s ease-in-out;
		border-radius: 8px;
		h3 {
			position: relative;
			z-index: 50;
			color: #fff;
			font-size: 28px;
		}
		p {
			position: relative;
			z-index: 50;
			color: #fff;
		}
		&:hover {
			
				transform: scale(1.02,1.02);
				box-shadow: 0 15px 20px rgba(0,0,0,0.6);
			
		}
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left: 0;
		overflow: hidden;

	}

	&__innerbg {
		width: 100%;
		height: 100%;
		
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__onesky {
		background-image: url("../img/index-17-onesky.png");
	}

	&__swrm {
		background-image: url("../img/oursky-web-gif-1.gif");
	}

	&__kinofi {
		background-image: url("../img/oursky-gif-kinofi.gif");
	}

	&__hl {
		background-image: url("../img/oursky-gif-hl.gif");
	}

	&__wp {
		background-image: url("../img/oursky-gif-wp.gif");
	}

	&__wifibb {
		background-image: url("../img/index-17-wifibb.png");
	}

	&__asos {
		background-image: url("../img/index-17-asos.png");
	}

	&__jamn {
		background-image: url("../img/index-17-jplayer.png");
	}

	&__snaptee {
		background-image: url("../img/index-17-snaptee.png");
	}

	&__carbon {
		background-image: url("../img/index-17-carbon.png");
	}

	&__cococolor {
		background-image: url("../img/index-17-cococolor.png");
	}

	&__ccc {
		background-image: url("../img/osw-ccc.gif");
	}

	&__musicmap {
		background-image: url("../img/img-mm-t.png");
	}
}