.innerpage__title {
	width: 100%;
		padding-top: 150px;
		padding-bottom: 120px;
		
	&--large {
		@extend .innerpage__title;
		
		height: auto;
		overflow: hidden;
		position: relative;
		background: #f3f3f3;
		color: #263043;
		h1 {
			font-weight: 600;
			font-size: 60px;
			display: inline-block;
			line-height: 72px;
			opacity: 1;
		}
	}
}


.about__addrtitle {
	margin-top: 50px;
}