<div class="service__proservice">
  <h5>Products</h5>
  <ul>
    <li>
      <a href="https://formx.ai/" target="_blank" rel="noopener">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <picture>
              <source srcset="{{root}}assets/img/dx-logo-256px.webp" type="image/webp">
              <img src="{{root}}assets/img/dx-logo-256px.png" alt="FormX.ai Icon">
            </picture>
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">FormX.ai</p>
            <p>AI-powered data capture and extraction solution</p>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="https://www.authgear.com/" target="_blank" rel="noopener">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <picture>
              <source srcset="{{root}}assets/img/icon-authgear.webp" type="image/webp">
              <img src="{{root}}assets/img/icon-authgear.png" alt="Authgear Icon">
            </picture>
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Authgear</p>
            <p>Authentication as a service for secure login experience</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="https://www.gesprek.chat/" target="_blank" rel="noopener">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <picture>
              <picture>
                <source srcset="{{root}}assets/img/icon-gesprek.webp" type="image/webp">
                <img src="{{root}}assets/img/icon-gesprek.png" alt="Gesprek Icon">
              </picture>
            </picture>
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Gesprek.chat</p>
            <p>Conversational sales for SMB and Coroporates</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
