<div class="service__proservice">
  <h5>Products</h5>
  <ul>
    <li>
      <a href="https://formextractor.ai/" target="_blank">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <img src="{{root}}form-extractor.png" alt="FormExtractor Icon">
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">FormExtractor.ai</p>
            <p>AI-powered data capture and extraction solution</p>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="https://skylab.ai/" target="blank">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <img src="{{root}}authgear_icon.png" alt="Authgear Icon">
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Authgear</p>
            <p>Authentication as a service for secure login experience</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="https://www.gesprek.chat/" target="_blank">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <img src="{{root}}gesprek-icon.png" alt="Gesprek Icon">
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Gesprek.chat</p>
            <p>Conversational sales for SMB and Coroporates</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>