<div class="service__proservice">
  <h5>Core Services</h5>
  <ul>
    <li>
      <a href="{{root}}product-development">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <img src="{{root}}assets/img/icon-dev.svg" alt="Digital Product Development">
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Digital Product Development</p>
            <object>
              <p>Accuracy and creativity for <a href="{{root}}web">web</a> and <a href="{{root}}mobile">mobile</a></p>
            </object>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="https://skylab.ai/" target="_blank" rel="noopener">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <img src="{{root}}assets/img/icon-skylab.svg" alt="Skylab.ai Icon">
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Skylab.AI</p>
            <p>Scalable machine learning and artificial intelligence (AI) solutions</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="{{root}}design">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <picture>
              <source srcset="{{root}}assets/img/icon-uiux.webp" type="image/webp">
              <img src="{{root}}assets/img/icon-uiux.png" alt="UIUX Logo">
            </picture>
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">UI/UX and Digital Product Design</p>
            <p>User-centric, intuitive, and immersive digital experience</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="{{root}}microservices">
        <div class="service__proservice__item">
          <div class="service__proservice__icon">
            <img src="{{root}}assets/img/icon-micro.svg" alt="Microservices">
          </div>
          <div class="service__proservice__label">
            <p class="service__proservice__name">Microservices and Containerization</p>
            <p>Become cloud native and adopt microservices and continuous integration/delivery (CI/CD)</p>
          </div>
        </div>
      </a>
    </li>

    <!-- <li>
                <a href="#">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="{{root}}assets/img/icon-growth.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Growth</p>
                        <p>Professional Service for Digital Product Development.</p>
                      </div>
                    </div>
                  </a>
              </li> -->

    <!-- <li>
                <a href="#">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="{{root}}assets/img/icon-workshop.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Workshops</p>
                        <p>Knowledge sharing and instilling passion to developers</p>
                      </div>
                    </div>
                  </a>
              </li> -->

  </ul>
</div>