
          <div class="service__proservice">
            <h5> Core Services</h5>
            <ul> 
              <li>
                <a href="{{root}}services.html">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="assets/img/icon-dev.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Product Development</p>
                        <p>Accuracy and creativity for web and mobile apps</p>
                      </div>
                    </div>
                  </a>
              </li>
              
              <li>
                <a href="https://skylab.ai/" target="blank">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="assets/img/icon-skylab.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Skylab.AI</p>
                        <p>Applying machine learning and artificial intelligence</p>
                      </div>
                    </div>
                  </a>
              </li>
              <li>
                <a href="{{root}}microservice.html">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="assets/img/icon-micro.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Microservices development</p>
                        <p>Microservices-, and container-based server development</p>
                      </div>
                    </div>
                  </a>
              </li>

              <!-- <li>
                <a href="#">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="assets/img/icon-growth.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Growth</p>
                        <p>Professional Service for Digital Product Development.</p>
                      </div>
                    </div>
                  </a>
              </li> -->

              <!-- <li>
                <a href="#">
                    <div class="service__proservice__item">
                     <div class="service__proservice__icon">
                     <img src="assets/img/icon-workshop.svg">
                      </div>
                      <div class="service__proservice__label">
                        <p class="service__proservice__name">Workshops</p>
                        <p>Knowledge sharing and instilling passion to developers</p>
                      </div>
                    </div>
                  </a>
              </li> -->
             
            </ul>
          </div>

 