<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Oursky - Build Great Software Products</title>

  <meta property="og:title" content="Oursky - We build great software products">
  <meta property="og:description"
    content="We are a developer-lead agency who work with startups and enterprises in creating award-winning apps and fast-tracking digital transformation.">
  <meta property="og:image" content="https://oursky.com/assets/img/og-image.png">

  <link rel=" stylesheet" href="{{root}}assets/css/app.css">
  <link rel="apple-touch-icon" sizes="57x57" href="{{root}}assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{root}}assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{root}}assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{root}}assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{root}}assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{root}}assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{root}}assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{root}}assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{root}}assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{root}}assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{root}}assets/favicon/manifest.json">
  <link rel="canonical" href="https://www.oursky.com/{{canonical}}" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{root}}assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="keywords"
    content="mobile app development, software development, artificial intelligence, machine learning, cloud native, UX/UI design, digital transformation, digital product design, mvp, interactive prototype">
  <meta name="description"
    content="We are a developer-led, DevSecOps-enabled agency comprising a diverse team of experts who work with startups and enterprises in creating award-winning digital experiences and fast-tracking digital transformation.">
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://oursky.com"
        },{
          "@type": "ListItem",
          "position": 2,
          "name": "Case Studies",
          "item": "https://oursky.com/case-studies"
        },{
          "@type": "ListItem",
          "position": 3,
          "name": "{{tagline}}"
        }]
      }
    </script>
</head>

<body>

  {{> header}}

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}


  <section class="case__title">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-8 cell medium-offset-2">
          <div class="text-center">
            <p>{{title}}</p>
            <h1>{{tagline}}</h1>
            <div class="case__title__hr">
            </div>
          </div>
        </div>
      </div>
  </section>



  <div id="content">
    {{> body}}
  </div>

  {{> footer}}

  <script src="{{root}}assets/smagic/ScrollMagic.min.js"></script>
  <script src="{{root}}assets/smagic/debug.addIndicators.min.js"></script>
  <script src="{{root}}assets/js/app.js"></script>
  <script src="{{root}}assets/aos/aos.js"></script>
  <script>
    AOS.init();
  </script>

  {{> anime-header}}

  {{> _ga}}
  {{> _linkedin}}
  {{> _oursky}}
  {{> _pixel}}
  {{> _remarketing}}
  {{> _outdate}}


</body>

</html>